@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    box-sizing: border-box;
}
html, body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}
.site-header .navbar-brand {
    font-size: 1rem;
    font-weight: bold;
}
.site-header .navbar-toggler {
    border: none;
    outline: none;
}
.hero {
    height: calc(100vh - 56px); /* 100% viewport height minus navbar height */
    background: #f2f2f2 url('https://picsum.photos/id/237/800') no-repeat center;
    background-size: cover;
}
.hero img {
    object-fit: cover; /* makes the image fill the div completely */
    border-radius: 50%;
    box-shadow: 0px 4px 20px rgba(16, 16, 39, 0.7);
}
.hero .display-4 {
    font-size: 3rem;
    text-transform: uppercase;
    color: #fff;
}
.hero p {
    font-size: 1.25rem;
    margin-bottom: 0;
}
.site-footer {
    background: #f7f7f7;
    padding: 3rem 0;
    text-align: center;
}
.site-footer .list-inline {
    font-size: 1.25rem;
    margin: 0 auto;
    width: fit-content;
}